$book-item-dialog-width: '650px';
$book-item-dialog-height: '450px';
$shopping-cart-dialog-width: '850px';
$shopping-cart-dialog-height: '450px';
$user-card-dialog-width: '550px';
$new-user-dialog-width: '450px';
$new-user-dialog-height: '850px';