<div class="dialog-container" >
    <div class="right-container">
      <div class="discount-container">
        <label>Discount:</label>
        <span>{{discount.toFixed(2)}}</span>
      </div>
      <div class="price-container">
        <label>Taxes:</label>
        <span>{{taxes}}</span>
      </div>
      <div class="dashed-line">
        --------------------------------
      </div>
      <div class="total-price-container">
        <label>Total Price:</label>
        <span>{{totalPrice.toFixed(2) }}</span>
      </div>
    </div>
  </div>
  
